@font-face {
  font-family: "iconfont"; /* Project id 2670787 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_info_tips:before {
  content: "\e9fe";
}

.icon-other:before {
  content: "\e9f1";
}

.icon-audio:before {
  content: "\e9f2";
}

.icon-picture:before {
  content: "\e9f3";
}

.icon-text:before {
  content: "\e9f4";
}

.icon-video:before {
  content: "\e9f5";
}

.icon-arrow_r:before {
  content: "\e9ef";
}

.icon-arrow_l:before {
  content: "\e9f0";
}

.icon-icon_cancel:before {
  content: "\e9ee";
}

.icon-icon_download1:before {
  content: "\e9ed";
}

.icon-icon_edit:before {
  content: "\e9e6";
}

.icon-shanchu:before {
  content: "\e9e3";
}

.icon-chenggong:before {
  content: "\e9e5";
}

.icon-icon_problem:before {
  content: "\e9e1";
}

.icon-icon_tips:before {
  content: "\e9e2";
}

.icon-icon_zuijinfangwen:before {
  content: "\e9de";
}

.icon-icon_kuaijiejiansuo:before {
  content: "\e9df";
}

.icon-icon_quanxianpeizhi:before {
  content: "\e9e0";
}

.icon-logo_shujuji:before {
  content: "\e9dd";
}

